.Found-solutions-list {
  padding: 10px;
  text-align: left;
}

.Found-solutions-list h4 {
  margin-bottom: 10px;
  color: #333;
}

.Found-solutions-list ul {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.Found-solutions-list li {
  padding: 5px;
  text-align: left;
  margin: 5px 0;
}

