.Game-summary {
  padding: 10px;
}

.Summary {
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.Summary h2 {
  margin-bottom: 15px;
  color: #333;
}

.Summary div {
  margin: 10px 0;
  font-size: 16px;
}

.Summary li {
  list-style: none;
  padding: 5px;
}

.Found-solutions-list {
  padding: 20px;
  text-align: left;
}

.Found-solutions-list h4 {
  margin-bottom: 15px;
  color: #333;
}

.Found-solutions-list ul {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

.Found-solutions-list li {
  padding: 5px;
  text-align: left;
  margin: 5px 0;
}

