.Word-list {
  padding: 10px;
  text-align: left;
}

.Word-list h4 {
  margin-bottom: 10px;
  color: #333;
}

.Word-list ul {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.Word-list li {
  padding: 5px;
  text-align: left;
  margin: 5px 0;
}

